:root {
    /* ## Colors */
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    /* ## Typography  */
    /* ### Body Copy (text input)  */
    --FontSize: 18px;
    --Family: 'Rubik', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Family);
}

h2 {
    font-family: var(--Family);
    color: #fff;
}

.main {
    max-height: 100%;
    width: 100%;
}

.pattern {
    background: url('./images/pattern-bg-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pattern h2 {
    margin-bottom: 4%;
    font-family: var(--Family);
}

form {
    display: inline-flex;
}

form input {
    padding: 2% 5%;
    width: 40vw;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

form button {
    background-color: var(--VeryDarkGray);
    padding: 3%;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

form button:hover {
    opacity: 0.8;
    transition: all 200ms ease-in;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.display {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    justify-items: center;
    padding: 2% 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;

}

.display h3 {
    font-size: 27px;
}

.display p {
    color: var(--DarkGray);
}

.address h3,
.location h3,
.timezone h3 {
    flex-wrap: wrap;
}

#isp {
    width: 50px;
}

.map {
    background-color: red;
    width: 100%;
    height: 50vh;
}

@media(max-width:768px) {
    form input {
        padding: 2% 5%;
        width: 70vw;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    form button {
        background-color: var(--VeryDarkGray);
        padding: 7%;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding-inline: 15%;
        text-align: center;
        /* margin-top: 10%; */
    }

    #isp {
        width: 100%;
    }

    /* .display {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
            justify-items: center;
            padding: 2% 5%;
            border-radius: 15px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            z-index: 999;
    
        } */
}